# Build-bestanden en logfiles
*.log
*.compileinfo

# CodeSYS-optie bestanden
*.opt 

# Gebruikersspecifieke instellingen
.settings/
*.user

# Map voor tijdelijke bestanden
.tmp/
.tmp.buildinfo
.temp/

# Automatisch gegenereerde bestanden
Output/
Library Manager/
Application/
CODESYSControl.cfg
CODESYSControl.log

# Andere tijdelijke bestanden
*.bak
*.swp
*.~tmp
Thumbs.db
.DS_Store

# Specifieke configuratiebestanden
.env
.idea/
.vscode/
